body {
   background-image: url("https://png.pngtree.com/background/20210706/original/pngtree-job-recruitment-poster-advertisement-advertising-posters-picture-image_268513.jpg");
background-repeat:no repeat;
background-size: 251px;
background-position:right;
}
